{% extends 'base.html' %}
{% block title %} Books In Hand {% endblock title %}
{% block content %}
	<div class="alert alert-info" align="Center"><h4>ISSUE BOOK</h4></div>
    <div class="mydiv">
      <form method="POST">{% csrf_token %}
        <table class="tab_def">
          <tr><td>Student Name</td><td>
            <select name="student_id">
              {% for student in students %}
                <option  value="{{student.id}}">{{student.name}}</option>
              {% endfor %}    
            </select></td></tr>
          <tr><td>Book Name</td><td>
            <select name="book_id">
              {% for book in books %}
                <option  value="{{book.id}}">{{book.name}}</option>
              {% endfor %}</select></td></tr>
          <tr><td></td><td><input type="submit" value="Submit" /> 
            <a href="{% url 'lms_home' %}"><input type="button" name="cancel" value="Cancel" />
            </a> 
          </td></tr>
        </table>
      </form>
    </div>
{% endblock content%}


 