{% extends 'base.html' %}
{% block title %} Manage Books {% endblock title %}
{% block content %}
	<div class="alert alert-info" align="Center"><h4>MANAGE BOOK</h4></div>
	  <div class="search">
		<table id="list" class="table table-hover" >
			<tr class="success" style="font-size: 12px" style="width:auto">
			  <th>Category</th>
			  <th>Name</th>
			  <th>Author</th>
			  <th>Publisher</th>
			  <th>Availablity</th>
			  <th>Edit</th>
			  <th>Delete</th>
			</tr>
			<tr>
			  {% for book in object_list %} 
			  <td>{{book.category}}</td>
			  <td>{{book.name}}</td>
			  <td>{{book.author}}</td>
			  <td>{{book.publisher}}</td>
				{% if book.is_available %}
					<td>Available</td>
				{% else %}
					<td>Not Available</td>
				{% endif %}
			  <td> <a href="{% url 'book_edit' book.id %}">Edit</td>
			  <td><a href="{% url 'book_delete' book.id %}">Delete</td>
			</tr>
			  {% endfor %}				
		</table> 
	 	<form action="{% url 'book_search' %}" method='get'>
		<table class="tab">
			<tr><td><b>Search Book</td><td><input type="text" name="search_text" id="name"></td>
			<td><input type="submit" name="search"></td></tr>
		</table>
 	  <a href="{% url 'book_add' %}"><h4><center>Add New Book</center></h4></a>
     </div>
{% endblock content%}