{% extends 'base.html' %}
{% block title %} MANAGE CATEGORY {% endblock title %}
{% block content %}
	<div class="alert alert-info" align="Center"><h4>MANAGE CATEGORY</h4></div>
	  <div class="search">
		<table id="list" class="table table-hover" >
			<tr class="success" style="font-size: 12px" style="width:auto">
			  <th>Category</th>
			  <th>Edit</th>
			  <th>Delete</th>
			  <th>View Books</th>
			</tr>
			<tr>
			   {% for category in object_list %} 
			   <td>{{category.cat_name}}</td>
			   <td> <a href="{% url 'category_edit' category.id %}">Edit</td>
			   <td><a href="{% url 'category_delete' category.id %}">Delete</td>
			   <td><a href="{% url 'book_view_category' category.id %}">View Books</td>
			</tr>
			   {% endfor %}				
		</table> 
	  </div>
	<a href="{% url 'category_add' %}"><h4><center>Add New Category</center></h4></a>
{% endblock content%}
