{% load staticfiles %}
<head>
	<title>Home | LMS </title>

<link rel="stylesheet" type="text/css" href="{% static 'lms_app/bootstrap_min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lms_app/style3.css' %}" />
</head>
<body>
<div class="container">
	<div class="menu_header">
		<div class="menu_div">
			<ul>
				<li class="menu"><a href=""> Books </a> 
					<ul>
						<li> <a href=""> Add Books </a> </li>
						<li> <a href=""> Manage Books </a> </li>
						<li> <a href=""> Add Student </a> </li>
						<li> <a href=""> Manage Student </a> </li>
						<li> <a href=""> Add Book Category </a> </li>
						<li> <a href=""> Manage Book Category </a> </li>
					</ul>
				</li>
			  </ul>
		</div>
	</div>
</div>
</body>




