 {% load staticfiles %}

	<title>Home | LMS </title>

<link rel="stylesheet" type="text/css" href="{% static 'lms_app/bootstrap_min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lms_app/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lms_app/mystyle.css' %}" />

 <div class="menu_header">
	<div class="logo">
		<img src="/static/images/Logo.png" >
	</div>
	<div class="menu_div">
			<ul>
				<li class="menu"> 
					<ul>
						<li> <a href=""> Reset password </a> </li>
						<li> <a href=""> Logout </a> </li>
						
					</ul>
				</li>

				<li class="menu"> <a href=""> Academic </a> 
					<ul> 
						<li> <a href="#"> Students </a> </li>
						
						
					</ul>
				</li>
					
				<li class="menu"> <a href=""> College </a> 
					<ul> 
						<li> <a href="#"> College </a> </li>
						<li> <a href="#"> Branch </a> </li>
						<li> <a href="#"> Batch </a> </li>
						<li> <a href="#"> Specialization</a> </li>
						<li> <a href="#"> Semester </a> </li>
						
						
					</ul>
				</li>
				<li class="menu"> <a href=""> Staff </a> </a> 
					<ul> 
						
						
						<li> <a href="#"> View Staff </a> </li>
						
					</ul>
				</li>
				<li class="menu"> <a href=""> Exam </a>
					<ul>
						<li> <a href=""> Schedule Exam</a> </li>
						<li> <a href=""> Internal Marks</a> </li>
						<li> <a href=""> External Mark</a> </li>
						
						
					</ul>
				</li>
				<li class="menu"> <a href=""> Fees </a>
					<ul>
						<li> <a href="#">Payment</a> </li>
						<li> <a href=""> </a> </li>
						<li> <a href=""> </a> </li>
						
						
					</ul>
				</li>
				
			</ul>
	</div>
</div>