{% extends 'base.html' %}
{% block title %} Add Student {% endblock title %}
{% block content %}
	<div class="alert alert-info" align="Center"><h4>ADD STUDENT</h4></div>
	  <div class="mydiv">
		<form method="post">{% csrf_token %}
		  <table class="tab_def">
		   	<tr><td>Name</td><td>{{ form.name }}</td></tr>
		   	<tr><td>Roll No</td><td>{{ form.rollno }}</td></tr>
		   	<tr><td>Department</td><td>{{ form.dept }}</td></tr>
		   	<tr><td>Division</td><td>{{ form.division }}</td></tr>
		    <tr><td></td><td><input type="submit" value="Submit" />
			 <a href="{% url 'lms_home' %}">  <input type="button" name="cancel" value="Cancel" /> </td>
			 {% if form.errors %}
             {% for error in form.errors %}
               <tr>
                <td> </td>
                <td><font color="red">{{ error }} field required</td></tr>
              {% endfor %}
          {% endif %}
          {% if messages %}
            <tr>
            <td></td>
            <td>{% for message in messages %}
                <font color="red">{{ message }}
                {% endfor %}
            </td>
			 </tr>
		  {% endif %}
		 </table>
		 </form>
	  </div>
{% endblock content%}



